

:root {
    --primary-color: #1f2e54;
    --primary-color-light: rgba(31, 46, 84, 0.15);
    --secondary-color: #e5282a;
    --gray-color: #707070;
    --gray-color-light: #f5f5f5;
    --gray-layout: #f9f9f9;
    --gray-for-element: #f1f1f1;
    --link-color: rgba(227, 229, 234, 0.4);
    --danger-color: #ffe8e8;

    --black-color: #2e2e2e;
    --gray-color-60: #606060;
    --gray-color-f6: #f6f6f6;
    --gray-color-e9: #E9E9E9;
    --red-color: #ee302f;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1rem;
    font-family: "Sora", "Rubik", "Sofia Sans Condensed", Nunito, Montserrat,
        "HK Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 160%;
    color: var(--primary-color);
    /*font-size: var(--font-size);
    font-weight: 400;
    line-height: 1.5;
    color: var(--black-color);
    text-align: left;
    background-color: var(--body-color);

    text-18-13-40-22-16-14

    */
}

.fw-400 {
    font-weight:400 !important;
}

.fs-40 {
    font-size: 40px;
}

.fs-36 {
    font-size: 36px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-14 {
    font-size: 14px;
}

.bg-black {
    background-color: var(--black-color) !important;
}

.bg-gray-60 {
    background-color: var(--gray-color-60) !important;
}

.bg-gray-f6 {
    background-color: var(--gray-color-f6) !important;
}

.bg-gray-e9 {
    background-color: var(--gray-color-e9) !important;
}

.bg-banier {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

input,
select,
.h-44 {
    height: 44px !important;
}

.input-width-165 {
    max-width: 165px !important;
}

input,
.btn {
    border-radius: 4px !important;
}

.border-color {
    border-width: 3px !important;
    border-color: var(--red-color) !important;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="checkbox"],
textarea,
select {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ccc !important;
    border: 1px solid #ccc;
}

.text-primary {
    color: var(--red-color) !important;
}

.bg-primary {
    background-color: var(--red-color) !important;
}

.footer > div > ul > .nav-item {
    margin-bottom: 8px;
}

.sm-circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.nav-link:hover{
    color: var(--red-color) !important;
}

.dropdown-menu > li > a:hover{

    background-color: var(--red-color);
}

.dropdown-toggle:active {
    color: #fff;
}